body {
    box-sizing: border-box;
    text-align: center;
    margin-top: 40px;
}

input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

#register-btn {
    width: 300px;
    height: 40px;
    background-color: #46a358;
    color: white;
    border: none;
    cursor: pointer;
}
body>button {
    width: 300px;
    height: 40px;
}