body {
    margin: 0;
}
.registration-page {
    text-align: center;
    margin-top: 40px;
}
.registration-page input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}
.registration-page #register-btn {
    width: 300px;
    height: 40px;
    background-color: #46a358;
    color: white;
    border: none;
}
.registration-page>button {
    width: 300px;
    height: 40px;
}